{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                {{ title }}:
                <div class="pull-right">
                    <a href="{{ path('cto_jobs_list') }}" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Назад</a>
                </div>
            </h3>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div id="custom_form">
                <form></form>
                <div id="res"><div class="well well-sm text-center"><i class="fa fa-spinner fa-pulse"></i>&nbsp;&nbsp;Завантаження форми ...</div></div>
            </div>
            <br><br>
        </div>
    </div>

    <!-- Modal for create new client -->
    <div class="modal fade" id="createClientModal" tabindex="-1" role="dialog" aria-labelledby="createClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Новий клієнт:</h4>
                </div>
                <div class="modal-body">
                    {{ render(path('cto_client_new_from_modal', {'back': back })) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function ($) {
            clientIdz = {{ jobClientId }};
            clientKeys = [];
            clientCarKeys = [];
            clientObj = {};
            clientCarObj = {};
            categoryKeys = [];
            categoryObj = {};
            var jobId = {{ jobId }};
            var res = $("#res");

            var formSchema = {
                "schema": {
                    "car_job": {
                        "type": "object",
                        "properties": {

                            "client": {
                                "type": "string",
                                "title": "Клієнт",
                                "enum": clientKeys
                            },
                            "jobDate": {
                                "type": "string",
                                "title": "Дата візиту",
                                "default": moment().format("DD.MM.YYYY")
                            },
                            "carCategories": {
                                "type": "array",
                                "title": "Завдання",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "jobCategory": {
                                            "type": "string",
                                            "title": "Категорія замовлення",
                                            "enum": categoryKeys
                                        },
                                        "jobDescriptions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string",
                                                        "title": "Опис",
                                                        "required": true
                                                    },
                                                    "price": {
                                                        "type": "number",
                                                        "title": "Ціна",
                                                        "required": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "paidSalaryJob": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "description": {
                                            "type": "string",
                                            "title": "Кому",
                                            "required": true
                                        },
                                        "price": {
                                            "type": "number",
                                            "title": "Сума",
                                            "required": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "form": [
                    {
                        "type": "button",
                        "title": "<i class='fa fa-plus'></i>&nbsp;&nbsp;<i class='fa fa-user'></i>",
                        "onClick": function(e){
                            e.preventDefault();

                            var addClientModalWindow = $("#createClientModal");
                            addClientModalWindow.modal('show');

                        }
                    },
                    {
                        "key": "car_job.client",
                        "titleMap": clientObj
                    },
                    {
                        "key": "car_job.jobDate",
                        "htmlClass": "clearfix",
                        "fieldHtmlClass": "jod-date-picker"
                    },
                    {
                        "type": "array",
                        "title": "<h4 class='text-center'>Виконане завдання:</h4>",
                        "description": "Блок для Pri4a studio.",
                        "items": {
                            "type": "section",
                            "items": [
                                {
                                    "key": "car_job.carCategories[].jobCategory",
                                    "titleMap": categoryObj
                                },
                                {
                                    "type": "array",
                                    "items": [
                                        "car_job.carCategories[].jobDescriptions[]"
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "type": "array",
                        "title": "<h4 class='text-center'>Виплачена зарплата:</h4>",
                        "htmlClass": "margin-bottom-15",
                        "items": {
                            "type": "section",
                            "items": [
                                {
                                    "key": "car_job.paidSalaryJob[].description"
                                },
                                {
                                    "key": "car_job.paidSalaryJob[].price"
                                }
                            ]
                        }
                    },
                    {
                        "type": "section",
                        "items": [
                            {
                                "type": "submit",
                                "title": "Відредагувати"
                            }
                        ]
                    }
                ],
                "value": {},
                onSubmit: function(errors, values){

                    var submitUrl = Routing.generate('cto_jobs_edit_fromJSONFORM', {"id": jobId});
                    var returnUrl = Routing.generate('cto_jobs_show', {"id": jobId});

                    /////////////////////////////////////////////////////////////////
                    var checkEmptyCat = false;
                    var doubleCheck = false;
                    values.car_job.carCategories.forEach(function(el){

                        if (el.jobDescriptions) {
                            checkEmptyCat = true;
                        } else {
                            checkEmptyCat = false;
                            doubleCheck = true;
                        }
                    });

                    if (!checkEmptyCat || doubleCheck) {
                        res.html('<div class="alert alert-danger" role="alert">Категорія завдання не повинна бути пустою.</div>');

                        return;
                    }
                    /////////////////////////////////////////////////////////////////


                    if (errors) {
                        var subm = false;
                        console.log(errors);

                        $.each(errors, function(ind, val){
                            if (val.attribute == "type" && val.details[0] == "number") {
                                res.html('<div class="alert alert-danger" role="alert">Ціна повинна бути цифрою.</div>');

                                return;
                            }
                            subm = true;
                        });
                        if (subm) {
                            $.post(submitUrl, JSON.stringify(values))
                                .success(function(response){
                                    if (response.status == "ok") {
                                        window.location.replace(returnUrl);
                                    }
                                })
                                .error(function(error){
                                    if (error.status == 400 && error.responseJSON.error.info.field == "car_job") {
                                        res.html('<div class="alert alert-danger" role="alert">Ціна повинна бути цифрою.</div>');
                                    }
                                });
                        }
                    } else {
                        $.post(submitUrl, JSON.stringify(values))
                            .success(function(response){
                                if (response.status == "ok") {
                                    window.location.replace(returnUrl);
                                }
                            })
                            .error(function(error){
                                if (error.status == 400 && error.responseJSON.error.info.field == "car_job") {
                                    res.html('<div class="alert alert-danger" role="alert">Ціна повинна бути цифрою.</div>');
                                }
                                console.info("erre");
                            });
//                console.log(values);
                    }
                }
            };

            var formObj = $("#custom_form form");

            formObj.on("click", "input[type=text].jod-date-picker", function(){
                $(this).datepicker({
                    format: "dd.mm.yyyy",
                    orientation: "top left",
                    todayBtn: true,
                    clearBtn: true,
                    language: "uk",
                    calendarWeeks: true,
                    autoclose: true,
                    todayHighlight: true
                });
                $(this).datepicker('show');
            });

            var jobCategoriesUrl = Routing.generate('ajax_cto_get_jobCategories');
            $.get(jobCategoriesUrl)
                .success(function(response){
                    if (response.categories.length > 0) {
                        $.each(response.categories, function(key, value){
                            categoryKeys.push(value.id);
                            categoryObj[value.id] = value.name;
                        });

                        var getClientsUrl = Routing.generate('ajax_cto_get_clients');
                        $.get(getClientsUrl)
                            .success(function(responseClient){
                                if (responseClient.clients.length > 0) {
                                    $.each(responseClient.clients, function(key, value){

                                        clientKeys.push(value.id);
                                        clientObj[value.id] = value.name;

                                    });

                                    var getJobUrl = Routing.generate('ajax_cto_getJobById', {"id": {{ jobId }} });
                                    $.get(getJobUrl)
                                        .success(function(response){
                                            if (response.job) {
                                                formSchema["value"] = response.job;
                                            }
                                            res.html('');
                                            formObj.jsonForm(formSchema);

                                            clients = $(document.getElementById("jsonform-0-elt-car_job.client"));
                                        })
                                        .error(function(error){
                                            console.log(error);
                                        })
                                    ;

                                    setTimeout(function(){
                                        var options = document.getElementById('jsonform-0-elt-car_job.client').options;
                                        for (var i = 0; i < options.length; i++) {
                                            if (options[i].value == clientIdz) {
                                                options[i].selected = true;
                                            }
                                        }
                                    }, 500);
                                } else {
                                    clients.append('<option value="" disabled="disabled">Клієнтів не знайдено.</option>');
                                }
                            })
                            .error(function(error){
                                console.log(error);
                            })
                        ;

                    } else {
                        // no categories ?
                    }
                })
                .error(function(error){
                    console.log(error);
                })
            ;

        }); // jQuery end
    </script>
{% endblock %}

